[Unit]
Description=Schedule bounded auto-scrapy runtime runs

[Timer]
OnBootSec=1m
OnActiveSec=1m
onUnitActiveSec=2h
Persistent=true
Unit=auto-scrapy-runtime.service

[Install]
WantedBy=timers.target





